@import url('https://fonts.googleapis.com/css?family=Cantarell|VT323&display=swap');

body {
    background: linear-gradient(#dde0db 60%, white);
    font-family: 'VT323', monospace;
    margin: auto;

}

/*sets sky image and sets h1 in it able to be overlayed on sky image*/
#sky {
    width: 100%;
}

.skybox {
    position: relative;
    text-align: center;
    color: white;
    text-align: center;
    margin-bottom: 150px;
    margin-bottom: 0px;

}

h1 {
    font-family: 'VT323', monospace;
    font-size: 20px;
    font-style: italic;
    color: white;
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
    left: 20%;
    animation: floating 3.5s infinite ease-in-out;
    -webkit-animation: floating 3.5 infinite ease-in-out;
    padding: 20px;
    text-decoration: underline;
    text-decoration-style: dotted;
}

h1:hover {
    animation-play-state: paused;
    text-decoration: none;
}

h1 a {
    color: white;
    text-decoration: none;
}

/*coughing text*/
article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0px;
    margin: auto;
}

article div p {
    flex: 0 0 100px;
    font-size: 20px;
    justify-content: center;
    margin: 10px 100px 10px 10px;
}

article .coughbox {
    display: flex;
    flex-direction: row;
}

.coughbox {
    display: flex;
    justify-content: space-between;
    color: #9590c6;

}

#coughing1 {
    animation: jump 2s infinite ease;
    -webkit-animation: jump 2s infinite ease;
    font-size: 50px;
    margin: 30px;
}

#coughing2 {
    animation: jump 2s .5s infinite ease;
    -webkit-animation: jump 2s.5s infinite ease;
    font-size: 50px;
    margin: 30px;
}

#coughing3 {
    animation: jump 2s 1s infinite ease;
    -webkit-animation: jump 2s 1s infinite ease;
    font-size: 50px;
    margin: 30px;
}

/*placing and animating all the clouds*/
.cloud1 {
    opacity: .8;
    width: 400px;
    position: absolute;
    animation: cloud1slide 25s infinite ease-in-out;
    -webkit-animation: cloud1slide 25s infinite ease-in-out;
    z-index: 3;
}

.cloud2 {
    opacity: .8;
    width: 500px;
    position: absolute;
    right: 0;
    -webkit-animation: cloud2slide 14s infinite ease-in-out;
    z-index: 3;

}

.cloud3 {
    opacity: .3;
    width: 800px;
    position: absolute;
    right: 0;
    -webkit-animation: cloud3slide 20s infinite ease-in-out;
    z-index: 2;

}

.cloud4 {
    opacity: 1;
    width: 200px;
    position: absolute;
    -webkit-animation: cloud1slide 20s infinite ease-in-out;
    z-index: 2;

}

.cloud5 {
    opacity: .2;
    width: 900px;
    position: absolute;
    -webkit-animation: cloud5slide 10s infinite ease-in-out;
    z-index: 2;

}

.cloud1:hover {
    cursor: grabbing;
}

.cloud2:hover {
    cursor: grabbing;
}

.cloud3:hover {
    cursor: grabbing;
}

.cloud4:hover {
    cursor: grabbing;
}

.cloud5:hover {
    cursor: grabbing;
}

.cloud1:active {
    opacity: 0.1;
}

.cloud2:active {
    opacity: 0.1;
}

.cloud3:active {
    opacity: 0.1;
}

.cloud4:active {
    opacity: 0.1;
}

.cloud5:active {
    opacity: 0.1;
}

h3 {
    text-align: center;
    color: dimgray;
    font-size: 40px;
    bottom: 0;
    letter-spacing: 3px;
}

#solong {
    width: 700px;
    margin: auto;
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 0px;

}

@keyframes jump {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    20% {
        transform: scale(.9, 1.1) translateY(-30px);
    }

    40% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@keyframes vanish {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes dance {
    0% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes floating {
    from {
        transform: translate(0, 0);
    }

    60% {
        transform: translate(0px, 20px);
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes cloud1slide {
    0% {
        transform: translate(-20px, -50px);
    }

    50% {
        transform: translate(400px, -50px);
    }

    100% {
        transform: translate(-20px, -50px);
    }
}

@keyframes cloud2slide {
    0% {
        transform: translate(-200px, 0px);
    }

    50% {
        transform: translateX(-450px);
    }

    100% {
        transform: translate(-200px, 0px);
    }
}

@keyframes cloud3slide {
    0% {
        transform: translate(100px, 0px);
    }

    50% {
        transform: translateX(-250px);
    }

    100% {
        transform: translate(100px, 0px);
    }
}

@keyframes cloud5slide {
    0% {
        transform: translate(250px, 0px);
    }

    50% {
        transform: translateX(60px);
    }

    100% {
        transform: translate(250px, 0px);
    }
}
