/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade*/
@import url('https://fonts.googleapis.com/css?family=Cantarell|VT323&display=swap');

body {
    font-family: 'VT323', monospace;
}

.fridgecontainer {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 850px;
    margin-top: 100px;
}

.fridgecontainer div {
    margin: 10px;
    height: 250px;
    flex: 0 0 250px;
}

img {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    transition: opacity .5s;
}

img:hover {
    animation: float 2s infinite;
    cursor: grab;
}img:active{
    animation: float 2s infinite;
    cursor: grabbing;
    opacity: 0;
}
p {
    text-align: center;
    font-size: 20px;
}

a{
    margin-top: 100px;
    width:100%;
    font-size: 35px;
    text-align: justify-all;
    color: #d8bfe4;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}



@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-25px);
    }

    100% {
        transform: translatey(0px);
    }
}
